{% load auth_extras %}

<div class="col-md-3">
   {% if request.user.is_authenticated %}
   <p>Hello {{request.user}}</p>
   {% endif %}
   <div class="card">
     <div class="card-header">
       Categories
     </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item">
         <a href="{% url 'foto:gallery' %}">All</a>
       </li>
       {% for category in category %}

       {% if not category.children.all %}
       <li class=" list-group-item {% if category.name ==  request.GET.category %}active{% endif %}">
         <a href="{% url 'foto:gallery' %}?category={{category.name}}">
           {{category.name}}
         </a>
       </li>
       {% else %}
       <li class=" list-group-item {% if category.name ==  request.GET.category %}active{% endif %}">
         <a href="{% url 'foto:gallery' %}?category={{category.name}}">
           {{category.name}}
         </a>
       </li>
       {% endif %}

       {% endfor %}

       {% if request.user|has_group:"CoEm" %} 
       <a href="{% url 'foto:add' %}" class="btn btn-dark btn-block btn-sm">Aggiungi Photo</a>
       <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm">Logout</a>
       {% else%}
       <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm">Logout</a>
       {% endif %}
     </ul>
   </div>

 </div>