{% extends 'base.html' %}
{% block title %}500 Errore Serve{% endblock %}
{% block content %}


<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>

<h1>Oops! Ci scusiamo</h1>
<h2>Errore del server</h2>
<h4>puoi segnalarci l'errore tramite email, cliccando sul bottone sottostante</h4>
<a href="{% url 'accounts:contact' %}" target="_self" class="btn btn-primary">Invia Segnalazione</a>
<a href="{% url 'home' %}" class="btn btn-dark my-3">Home</a>


</div>
    </div>
</div>
{% endblock %}
